<f:layout name="Default"/>
<f:section name="Main">
	<div id="breadcrumbLeft" class="col-md-12">
		<f:render partial="Navigation/Breadcrumb" arguments="{_all}" />
		<f:cObject typoscriptObjectPath="lib.search"/>
	</div>
        <div class="container">
        	<div class="row">
	        	<main class="col-md-8" role="main">
				<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid:'{data.uid}', colPos: '1'}"/>
			</main>
		  
			<div class="col-md-4">
		    		<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
			</div>
		  
		</div>
     
    	</div>

</f:section>
